{% include "partials/header.njk" %}

<main class="main-wrapper flex-grow-1">
  {% block content %}

    {{ content | safe }}

  {% endblock %}

  {% include "partials/contact.njk" %}

</main>

{% include "partials/footer.njk" %}