<!-- Contact Section -->
<!-- Contact Form Section -->
<div id="contact-form" class="form">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="h1 text-uppercase text-white">
          <span class="text-bg-line">CONTACT</span>
        </h2>
        <hr class="line" />
        <!-- <p class="text-white">Learn more or join the movement</p> -->
      </div>
      <div class="col-12">
        <form id="form" netlify>
          <div class="form-group">
            <label for="name"
              >Name <small class="text-muted">(required)</small>
            </label>
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="First Last"
              required
            />
          </div>

          <div class="form-group">
            <label for="email"
              >Email <small class="text-muted">(required)</small>
            </label>
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="email@domain.com"
              required
            />
          </div>

          <div class="form-group">
            <label for="subject"
              >Subject <small class="text-muted">(required)</small>
            </label>
            <select class="form-control" id="subject">
              <option value="">(choose a subject)</option>
              <option>Send me info/resources</option>
              <option>Volunteer</option>
              <option>Become an affiliate</option>
              <option>Other (specify in Message)</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea
              class="form-control"
              name="text"
              placeholder="Message"
              rows="3"
            ></textarea>
          </div>

          <div class="form-group">
            <label for=""></label>
            <button class="btn" type="submit">SEND MESSAGE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
