{% include "partials/html_head.njk" %}
<body>
    <!-- Header Section -->
    <header class="header" id="header">
        <!-- <canvas id="particles"></canvas> -->
        <div class="container">
            <div class="row">
                {% include "partials/site_nav.njk" %}
                {# <div class="arrow-down"></div> #}
            </div>
        </div>
    </header>